<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybtis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.sky.promotion.po.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.edu.sky.promotion.po.entity.Coupon">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="face_value" jdbcType="INTEGER" property="faceValue" />
    <result column="inventory_flag" jdbcType="BIT" property="inventoryFlag" />
    <result column="restrict_flag" jdbcType="BIT" property="restrictFlag" />
    <result column="repeat_flag" jdbcType="BIT" property="repeatFlag" />
    <result column="application_type" jdbcType="TINYINT" property="applicationType" />
    <result column="fix_type" jdbcType="TINYINT" property="fixType" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="expire_day" jdbcType="SMALLINT" property="expireDay" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="common_state" jdbcType="TINYINT" property="commonState" />
    <result column="on_line_flag" jdbcType="TINYINT" property="onLineFlag" />
      <result column="del_flag" jdbcType="BIT" property="delFlag" />
      <result column="home_show" jdbcType="BIT" property="homeShow" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, type, face_value, inventory_flag, restrict_flag, application_type, fix_type, 
    start_time, end_time, expire_day, description, common_state, on_line_flag,repeat_flag,del_flag,home_show,
      create_time,update_time
  </sql>
  <select id="selectByExample" parameterType="com.edu.sky.promotion.po.example.CouponExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.edu.sky.promotion.po.example.CouponExample">
    delete from t_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.edu.sky.promotion.po.entity.Coupon" useGeneratedKeys="true" keyProperty="id">
    insert into t_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="faceValue != null">
        face_value,
      </if>
      <if test="inventoryFlag != null">
        inventory_flag,
      </if>
      <if test="restrictFlag != null">
        restrict_flag,
      </if>
        <if test="repeatFlag != null">
            repeat_flag,
        </if>
      <if test="applicationType != null">
        application_type,
      </if>
      <if test="fixType != null">
        fix_type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="expireDay != null">
        expire_day,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="commonState != null">
        common_state,
      </if>
      <if test="onLineFlag != null">
        on_line_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
        <if test="delFlag != null">
            del_flag,
        </if>
        <if test="homeShow != null">
            home_show,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="faceValue != null">
        #{faceValue,jdbcType=INTEGER},
      </if>
      <if test="inventoryFlag != null">
        #{inventoryFlag,jdbcType=BIT},
      </if>
      <if test="restrictFlag != null">
        #{restrictFlag,jdbcType=BIT},
      </if>
        <if test="repeatFlag != null">
            #{repeatFlag,jdbcType=BIT},
        </if>
      <if test="applicationType != null">
        #{applicationType,jdbcType=TINYINT},
      </if>
      <if test="fixType != null">
        #{fixType,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDay != null">
        #{expireDay,jdbcType=SMALLINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="commonState != null">
        #{commonState,jdbcType=TINYINT},
      </if>
      <if test="onLineFlag != null">
        #{onLineFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="delFlag != null">
            #{delFlag,jdbcType=BIT},
        </if>
        <if test="homeShow != null">
            #{homeShow,jdbcType=BIT},
        </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.sky.promotion.po.example.CouponExample" resultType="java.lang.Long">
    select count(*) from t_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_coupon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.faceValue != null">
        face_value = #{record.faceValue,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryFlag != null">
        inventory_flag = #{record.inventoryFlag,jdbcType=BIT},
      </if>
      <if test="record.restrictFlag != null">
        restrict_flag = #{record.restrictFlag,jdbcType=BIT},
      </if>
      <if test="record.applicationType != null">
        application_type = #{record.applicationType,jdbcType=TINYINT},
      </if>
      <if test="record.fixType != null">
        fix_type = #{record.fixType,jdbcType=TINYINT},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expireDay != null">
        expire_day = #{record.expireDay,jdbcType=SMALLINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.commonState != null">
        common_state = #{record.commonState,jdbcType=TINYINT},
      </if>
      <if test="record.onLineFlag != null">
        on_line_flag = #{record.onLineFlag,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="record.delFlag != null">
            del_flag = #{record.delFlag,jdbcType=BIT},
        </if>
        <if test="record.homeShow != null">
            home_show = #{record.homeShow,jdbcType=BIT},
        </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM t_coupon WHERE del_flag = 0 AND common_state = 1 AND id = #{id}
  </select>

  <select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/> FROM `t_coupon`
      <if test="_parameter != null">
          <include refid="Update_By_Example_Where_Clause" />
      </if>
      <if test="example.orderByClause != null">
          order by ${example.orderByClause}
      </if>
      LIMIT #{limit} OFFSET #{offset}
  </select>
  <select id="selectByPageCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      SELECT COUNT(id) FROM `t_coupon`
      WHERE 1=1 AND del_flag = 0
      <if test="record.type != null">
          AND `type` = #{record.type}
      </if>
      <if test="record.commonState != null or record.commonState = 0">
          AND common_state = #{record.commonState}
      </if>
      <if test="record.onLineFlag != null or record.onLineFlag == 0">
          AND on_line_flag = #{record.onLineFlag}
      </if>
  </select>
    <select id="selectByIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM t_coupon
        WHERE common_state = 1
        AND id IN
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    <resultMap id="CouponJoinInventoryAndConditionsResultMap" type="com.edu.sky.promotion.po.entity.Coupon" extends="BaseResultMap">
        <association property="inventory" javaType="com.edu.sky.promotion.po.entity.Inventory">
            <result column="tinvid" property="id"/>
            <result column="total_amount" property="totalAmount"/>
            <result column="used_count" property="usedCount"/>
            <result column="bind_count" property="bindCount"/>
        </association>
        <collection property="restrictConditions" ofType="com.edu.sky.promotion.po.entity.RestrictCondition" columnPrefix="trc">
            <result column="id" property="id"/>
            <result column="description" property="description"/>
            <result column="type" property="type"/>
            <result column="restrict_value" property="restrictValue"/>
        </collection>
    </resultMap>
    <select id="selectByIdJoinInventoryAndConditions" parameterType="java.lang.Long" resultMap="CouponJoinInventoryAndConditionsResultMap">
        SELECT tc.id,tc.`name`,tc.`type`,tc.face_value,tc.inventory_flag,tc.restrict_flag,tc.fix_type
                ,tc.start_time,tc.end_time,tc.expire_day,tc.description,tc.common_state
                ,tc.on_line_flag,tc.repeat_flag,tc.home_show,tc.create_time,tc.update_time
                ,tinv.id AS tinvid ,tinv.total_amount,tinv.used_count,tinv.bind_count
                ,trc.id AS trcid,trc.description AS trcdescription,trc.type AS trctype
                ,trc.restrict_value AS trcrestrict_value
        FROM t_coupon tc
        LEFT JOIN t_inventory tinv ON tinv.coupon_id = tc.id
        LEFT JOIN t_restrict_condition trc ON trc.coupon_id = tc.id
        WHERE tc.id = #{couponId}
    </select>
</mapper>